body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;

    font-size: 15px;
    line-height: 1.6;
    color: #333;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/*Шапка*/
.header {
    padding-top: 20px;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*Лого*/
.header__logo {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
}

/*Ссылки справа*/
.nav {
    font-size: 20px;
}

.nav__photo{
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;
}
.nav__photo__1{
    margin-right: 20px;
}
.wrapper.active-photo{
    transform: scale(1);
}
.nav__link {
    text-transform: uppercase;
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;

    color:#fff;
    text-decoration: none;
    transition: color .1s linear;
}

.nav__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    

    background-color: #fce38a;
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: color .1s linear;

}
.nav__link:hover{
    color: #fce38a;
}
.nav__link:hover:after{
    opacity: 1;
}


.intro__inner {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;

    text-align: center;
}

.intro {
    display: flex;
    flex-direction: column;
    padding-top: 150px;

    width: 100%;
    height: 100vh;

    background: url(../images/saitama.jpg) center no-repeat;
    background-size: cover;
    -webkit-background-size: cover ;
}
img{
    image-rendering: optimizeQuality;
}

.intro__title {
    color: #fff;
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
}
.profile__info{
    display: flex;
}
.form__data{
    width: 500px;
    margin-top:100px;
    margin-left: 50px;
    
}
.user__data{
    color: #fff;
}
.exit{
    text-decoration: none;
    color: #bb3c3c;
    font-size: 25px;
}
.profile__update{
    display: none;
    padding-left: 50px;
}
.profile__update.active-profile{
    display: block;
    padding-left: 50px;
    
}
p{
    color: #fff;
}
.profile__btns{
    width: 200px;
    flex-flow: column;
    margin-top: 115px;
    margin-left: 350px;
}
.edit{
    text-decoration: none;
    color: #fff;
    font-size: 25px;
}
.edit:hover{
    color: #fce38a;
}
.edit:hover:after{
    opacity: 1;
}
button{
    margin-left: 20px;
}
.delete{
    text-decoration: none;
    color: #fff;
    font-size: 25px;
}
.delete:hover{
    color: #fce38a;
}
.delete:hover:after{
    opacity: 1;
}


/* Корзина */
.cart{
    position: fixed;
    top: 0;
    right: -100%;
    width: 360px;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px;
    background: #fff;
    box-shadow: -2px 0  4px hsl(0 4% 15% / 10%);
    border: 1px solid #ffbc7e;
    transition: .3s;
}
.cart.active {
    right: 0;
    background: #fff;
    color: #333;
    transition: .4s;
}
.cart__title{
    text-align: center;
    font-weight: 600;
    margin-top: 10px;
}
.cart__box{
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 16px;
    margin-top: 20px ;
}
.cart__image{
    object-fit: contain;
    height: 100px;
    width: 100px;
    padding: 10px;
}
.detail__box{
    display: grid;
    row-gap: .5rem;
}
.cart__product__title{
    font-size: 1rem;
    text-transform: uppercase;
}
.cart__product__price{
    font-weight: 700;
}
.cart__quantity{
    border: 1px solid #333;
    outline-color: #ffbc7e;
    width: 2.4rem;
    text-align: center;
    font-size: 1rem;
}
.cart__remove{
    cursor: pointer;
    margin-top: 80px;
    height: 20px;
    width: 20px;
}
.total{
    display: flex;
    justify-content: flex-end;
    margin-top: 32px;
    border-top: 1px solid #333;
}
.total__title{
    font-size: 16px;
    font-weight: 600;
}
.total__price{
    margin-left: 8px;
    font-size: 16px;
}
.btn__buy{
    display: flex;
    margin: 24px auto 0 auto;
    padding: 12px 20px;
    border: none;
    background-color: #b9f0e6;
    color: #333;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer; 
}
.cart__close{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #333;
    font-size: 24px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 15px ;
    cursor: pointer;
    z-index: 1;
}
